<style>
	body {
		font-family: sans-serif;
	}

	pdf-viewer {
		position: fixed;
		top: 30px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
		background-color: #cccccc;
	}

	#loader {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		background-color: #ffffff;
		z-index: 1000;
	}

	#loader div {
		margin-top: 50px;
		text-align: center;
	}

	#loader .progress-bar {
		margin: 5px auto;
	}

	.progress-bar {
		width: 200px;
		height: 30px;
		border: 1px solid #888888;
		background-color: #ffffff;
		overflow: hidden;
	}
	
	.progress-bar span.bar {
		display: inline-block;
		background-color: #dddddd;
		height: 100%;
		text-align: left;
	}
	
	.zoom_wrapper,
	.select_page_wrapper,
	.demos_wrapper,
	.load_file_wrapper {
		display: inline-block;
		margin: 3px 10px;
	}
	
	.select_page_wrapper input[type="text"] {
		width: 40px;
		text-align: center;
	}
	
	.demos_wrapper {
		float: right;
	}
	
	#toolbar {
		border-bottom: 1px solid black;
		height: 30px;
		box-sizing: border-box;
	}
</style>

<div id="loader" data-ng-show="isLoading">
	<div>Loading...</div>
	<div class="progress-bar">
		<span class='bar' data-ng-style='{width: downloadProgress + "%"}'></span>
	</div>
</div>

<div id="toolbar">
	<div class="zoom_wrapper">
		<button data-ng-click="zoomOut()">-</button>
		<select 
			data-ng-model="pdfScale" 
			data-ng-change="onPDFZoomLevelChanged()"
			data-ng-options="zoom.value as zoom.label for zoom in pdfZoomLevels" >
		</select>
		<button data-ng-click="zoomIn()">+</button>
	</div>

	<div class="select_page_wrapper">
		<span>Page:</span>
		<input type="text" data-ng-model="pdfCurrentPage" data-ng-change="onPDFPageChanged()"/> 
		<span>of {{pdfTotalPages}}</span>
	</div>

	<div class="load_file_wrapper">
		<input id="file_input" type="file" onchange="angular.element(this).scope().onPDFFileChanged()" accept=".pdf" />
	</div>

	<div class="demos_wrapper">
		<span>Demo:</span>
		<button data-ng-click="switchToPDF(0)">Small (13kB)</button>
		<button data-ng-click="switchToPDF(1)">Large (1MB)</button>
	</div>
</div>

<pdf-viewer 
	data-src="{{pdfURL}}"
	data-file="pdfFile"
	data-initial-scale="fit_page"
	data-api="pdfViewerAPI"
	data-progress-callback="onPDFProgress(operation, state, value, total, message)">
</pdf-viewer>
